<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/panel">Apinor ADMIN</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarsExample04"
          aria-controls="navbarsExample04"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/panel/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/panel/news">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/panel/discount">Discounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/panel/stickers">Stickers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/panel/stats">Stats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/panel/transactions">Transactions</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container mt-5">
      <h3>News List</h3>
      <section class="news" style="width: 80%">
        <h1><%= newsTopText %></h1>
        <div class="news-items row" style="justify-content: space-between">
          <% newsItems.forEach(function(item) { %>
          <div class="col-md-3 mb-4" id="newsID-<%= item.ID %>">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title"><%= item.Name %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= item.News_Header %></h6>
                <p class="card-text"><%= item.Description %></p>
                <p class="card-text"><small><%= item.News_InfoText %></small></p>
                <span class="badge <%= item.Activated ? 'bg-success' : 'bg-secondary' %>">
                  <%= item.Activated ? 'Active' : 'Inactive' %>
                </span>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-warning" onclick="deleteItem('<%= item.ID %>')">
                  Delete News
                </button>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </section>
    </div>
    <div class="container mt-5">
      <h2>Create News</h2>
      <form id="newsForm" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            required
          />
          <div class="invalid-feedback">
            Please provide a name for the news.
          </div>
        </div>

        <div class="mb-3">
          <label for="news" class="form-label">Description</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            rows="3"
          ></textarea>
        </div>

        <div class="mb-3">
          <label for="News_Spotlight_Image_Sticker_ID" class="form-label"
            >Sticker ID</label
          >
          <input
            type="number"
            class="form-control"
            id="News_Spotlight_Image_Sticker_ID"
            name="News_Spotlight_Image_Sticker_ID"
            required
          />
          <div class="invalid-feedback">Please provide a Sticker ID.</div>
        </div>

        <div class="mb-3">
          <label for="News_Header" class="form-label">News Header</label>
          <input
            type="text"
            class="form-control"
            id="News_Header"
            name="News_Header"
            required
          />
          <div class="invalid-feedback">Please provide a Header.</div>
        </div>

        <div class="mb-3">
          <label for="News_InfoText" class="form-label">Info Text</label>
          <input
            type="text"
            class="form-control"
            id="News_InfoText"
            name="News_InfoText"
            rows="3"
            required
          />
          <div class="invalid-feedback">Please provide the info text</div>
        </div>

        <button type="submit" class="btn btn-primary">Create new News</button>
      </form>

      <div id="responseMessage" class="alert mt-3" style="display: none"></div>
    </div>
    <script src="/panel/news/script.js"></script>
  </body>
</html>
